* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Maplestory";
  src: url(res/MaplestoryFont_TTF/Maplestory\ Bold.ttf) format("truetype");
  font-family: "Maplestory_light";
  src: url(res/MaplestoryFont_TTF/Maplestory\ Light.ttf);
}
body {
  position: relative;
  font-family: "Maplestory_light";
}
.container {
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.btn {
  cursor: pointer;
  position: relative;
  width: 100%;
  font-size: 50px;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 2;
  transition: background-color 1s;
  background-color: transparent;
}
.btn:hover {
  background-color: rgba(164, 230, 230, 0.15);
}

#main-column {
  position: relative;
  height: 100vh;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
  color: white;
}
#top {
  width: 100%;
  position: absolute;
  text-align: center;
  z-index: 2;
}
#top-logo {
  text-decoration: none;
  font-size: 50px;
  color: white;
}
#main-slogan {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  text-align: center;
  overflow: hidden;
  transform: translate(-50%, -50%);
  border-right: 0.1em solid white;
  white-space: nowrap;
  letter-spacing: 0.3em;
  animation: typing 3s steps(30, end), blink-caret 1.2s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 15em;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
