@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 247, 239);
  position: relative;
  justify-content: center;
}
#logo {
  font-family: "Cinzel", serif;
  font-weight: lighter;
  font-size: 1.5em;
  margin: 0.2em;
  display: block;
  text-align: center;
}
#bottom-logo {
  font-family: "Great Vibes", cursive;
  font-weight: lighter;
  font-size: 1.2em;
  margin: 0.8em;
  display: block;
  text-align: center;
}
#container {
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
#image {
  max-height: 85vh;
  object-fit: contain;
}

.arrow {
  margin: 3em;
  opacity: 0;
  padding: 1em;
  z-index: 2;
  width: 5vw;
  height: 5vh;
}

.arrow:hover {
  cursor: pointer;
}
